<form class="search-form" [formGroup]="searchForm" (ngSubmit)="submit()">
  <div class="search-div">
    <input
      type="text"
      name="search"
      placeholder="Search for the comic"
      formControlName="name"
      required="required"
    >
  </div>
  <div class="date">
    <input type="number" required="required" id="yearPicker" formControlName = "year">
  </div>

  <div class="button">
    <button type="submit" value="search" [disabled]="!searchForm.valid">Buscar</button>
  </div>
</form>
