<main>
  <section class="section-form">
    <form class="search-form">
      <div class="search-div">
        <input
          type="text"
          name="search"
          placeholder="Search for the comic"
        >
      </div>
      <div class="date">
        <input type="date" id="yearPicker" value="2022-06-09">
      </div>

      <div class="button">
        <input type="submit" value="search">
      </div>
    </form>
  </section>

  <section class="galeria">
    <!-- <div *ngFor="let item of menuElements">
      <a [routerLink] = "item.path" routerLinkActive="active">{{item.title}}</a>
    </div> -->
    <div class="comic">

      <div class="portada">

        <img src="https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2014/04/24/13983228342123.jpg" alt="img1">
      </div>
      <div class="titulo-year">
        <p class="titulo">Titulo</p>
        <p class="year">Year</p>
      </div>
      <div class="descr">
        <p>desc</p>
      </div>
    </div>


  </section>


  <section class="pagination">
    <div class="pag">

      <a href="#">&laquo;</a>
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">&raquo;</a>
    </div>

  </section>


</main>



